

nav {
background-color: rgb(140, 140, 140, 0.3);
margin: none;
padding: 5px;
max-height: 50px;
overflow: auto;
white-space: nowrap;
}

nav ul{
text-align: center;
}

nav ul li {
  font-family: monospace;
  font-size: 120%;
  color: white;
  display:inline;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

nav ul li.active{

  border-bottom: 1px #62FF79 solid;
}

nav ul li:hover {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

nav.bottom {
background-color: rgb(0, 0, 0, 0.3);
margin: none;
padding: 2px;
height: 35px;
}

nav ul.bottom{
text-align: left;
}

nav ul li.bottom {
  font-family: monospace;
  font-size: 90%;
  color: #333333;
  color: #3F8D4B;
  display: inline;
  align-self: stretch;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

nav ul li.bottom:hover {
  background-color: rgb(255, 255, 255, 0.03);
  border-radius: 3px;
  cursor: pointer;
  color: gray;
}

hr{
  color:#62FF79;
  border: 1px #62FF79;
}

img.sm{
  max-width: 40px;
  padding-left:7px;
  padding-right:7px;
}

img.sm2{
  display:inline;
  max-width: 90px;
  padding-left:7px;
  padding-right:7px;
}

.container{
  max-width:980px;
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
}

section{
  text-align: left;
  background-color:;
  width: auto;
  color: white;
  padding: 0.1px 10px;
  margin:0;
  border-radius: 15px;
}

div.fixed{
  position: fixed;
  top: 120px;
  left: 100px;
  width: 900px;
}

div.bottom{
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 900px;
}

div.footer{
  background-color: #090909;
  margin:0;
  margin-top: 110px;
  padding:30px;
  min-height: 150px;
  width:auto;
  text-align: center;
}

div.bubble {
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 25px;
  color:white;
  font-family: 'Jura', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding:20px;
  max-width: 500px;
  font-size: 170%;
}

div.bubble2 {
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 25px;
  color:white;
  font-family: 'Jura', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding:20px;
  max-width: auto;
  font-size: 170%;
}

div.swipe{
  display: none !important;
  position: absolute;
  color: #62FF79;
  color: rgb(255, 255, 255, 0.25);
  font-size: 200%;
  right:auto;
  left:20%;
  top:60px;
}

.mobilio{
  display:none;
}

.compulio{
  display: inline;
}
a{
  color: #2EFF85;
  text-decoration: none;
}

h1 {
  font-family:Georgia;
  font-family: 'Jura', sans-serif;
  color: #2EFF4D;
  margin-bottom: 0px;
  font-size: 180%;
}
p.pablo {
  font-family:Georgia;
  font-family: 'Jura', sans-serif;
  font-size: 500%;
  color: #2EFF4D;
  margin-bottom: 0px;
}

p.pablofooter {
  font-family:Georgia;
  font-family: 'Jura', sans-serif;
  font-size:210%;letter-spacing:30px;
  color: #2EFF4D;
  margin-bottom: 0px;
}

p.poly {
  color: gray;
  font-family: 'Jura', sans-serif;
  font-style: italic;
  font-size: 150%;
}

p.gray{
  color: gray;
}
p.mini{
  font-size: 80%;
  position: absolute;
  bottom: 0px;
}

.column1 {
    float: left;
    padding: 10px;
    height:400px;
    width:45%;
    box-sizing:border-box;
}
.column2 {
    float: left;
    padding: 10px;
    width:55%;
    height:400px;
    box-sizing:border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

p.pablofooter {
  font-family:Georgia;
  font-family: 'Jura', sans-serif;
  font-size:210%;letter-spacing:10px;
  color: #2EFF4D;
  margin-bottom: 0px;
}

p.pfooter{
  font-size:150%;letter-spacing:10px;
}

@media screen and (max-width: 890px){

  .column1 {
      float: left;
      width: 100%;
      padding: 10px;
      height:auto;
      box-sizing:content-box;
  }
  .column2 {
      float: left;
      width: 100%;
      padding: 10px;
      height:auto;
      box-sizing: content-box;
  }

  div.fixed{
    position: fixed;
    top: 120px;
    left: 15%;
    width: auto;
  }
  .mobilio{
    display:inline;
  }
  .compulio{
    display: none;
  }

  p.pablo {
    font-size: 300%;
  }
  p.poly {
      font-size: 130%;
  }

  div.bubble {
    padding:10px;
    max-width: 600px;
    font-size: 130%;
  }

  p.pfooter{
    font-size: 130%;
    letter-spacing:5px;
  }

  div.inline{
    display:inline-block;
  }
  div.swipe{
      display: inline !important;
  }

}

@media screen and (max-width: 500px){
  div.bubble {

    font-size: 110%;
  }
}
